.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

h1 {
    margin-block-end: 0px;
}
p {
    margin-block-start: 0px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 20px;
}

.title {
  text-align: center;
}
.main {
  grid-area: main;
}

.table-custom {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

.table-custom td,
.table-custom th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-custom tr:hover {
  background-color: #ddd;
}

.table-custom th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.button-action {
  text-align: right;
  padding-top: 10px;
  margin-top: 10px;
}
.text-center {
  text-align: center;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:read-only {
    background-color: #e7e7e7;
}
    
#total_bayar {
  text-align: right;
}
#hitung {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
#reset {
  border: none;
  background-color: #e7e7e7;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
#hitung:disabled {
  background-color: #418f44; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: not-allowed;
}
#reset:disabled {
  border: none;
  background-color: #b9aeae;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: not-allowed;
}
